.App {
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.lists-container {
  margin: 0 auto;
  padding: 0 20px;
}